$contentBackground: #fff;
$buttonBackground:  #01ACAC;
$articleBackground:#EFEFEF;
$dataColor: #ff2600;
$h1Color:#f5f5f5;
$h3Color:#01ACAC;
$imgHeader:url(/homework/img/header_background_v1.jpg);
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerTextColor: #ffff;
$borderStyle: 1px solid #607D8B;
$blackText: #010F16;